<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Homepage</title>
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="trash/rating.css"/>
</head>
<body>
<div class='search-dialog'>
    <div class="head">
        <a class='search-close' href='#'>
            <i class="icon icon-close"></i>
        </a>

        <div class='search-block'>
            <i class="icon icon-search"></i>
            <input type="text" placeholder="Поиск на сайте" class="search-input"/>

            <div class="tab-nav">
                <a href="#online_casino" class="active">онлайн казино</a>
                <a href="#slots">игровые автоматы</a>
                <a href="#articles">статьи</a>
            </div>
        </div>
    </div>

    <div class="dialog-inner">
        <div class='search-list'>

            <div class="tab-content active" id="online_casino">
                <ul>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                             <span class="rate-block">Рейтинг:
                                <span class="rate rate-active" data-current-rating='2'></span>
                             </span>
                             <span class="testimonial-count">11 отзывов</span>
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                             <span class="rate-block">Рейтинг:
                                <span class="rate rate-active" data-current-rating='2'></span>
                             </span>
                             <span class="testimonial-count">11 отзывов</span>
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                             <span class="rate-block">Рейтинг:
                                <span class="rate rate-active" data-current-rating='2'></span>
                             </span>
                             <span class="testimonial-count">11 отзывов</span>
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                             <span class="rate-block">Рейтинг:
                                <span class="rate rate-active" data-current-rating='2'></span>
                             </span>
                             <span class="testimonial-count">11 отзывов</span>
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                             <span class="rate-block">Рейтинг:
                                <span class="rate rate-active" data-current-rating='2'></span>
                             </span>
                             <span class="testimonial-count">11 отзывов</span>
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                             <span class="rate-block">Рейтинг:
                                <span class="rate rate-active" data-current-rating='2'></span>
                             </span>
                             <span class="testimonial-count">11 отзывов</span>
                         </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="slots">
                <ul>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                            <img src="trash/img-50-28.jpg">
                             <span class="name">Casino 888</span>
                         </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="articles" style='display:none'>
                <ul>
                    <li>
                        <a href="#">
                         <span class="text">
                             <i class="icon icon-comment"></i>
                             Онлайн казино с минимальной ставкой 1 копейка или цент
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                             <i class="icon icon-comment"></i>
                             Онлайн казино с минимальной ставкой 1 копейка или цент
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                             <i class="icon icon-comment"></i>
                             Онлайн казино с минимальной ставкой 1 копейка или цент
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                             <i class="icon icon-comment"></i>
                             Онлайн казино с минимальной ставкой 1 копейка или цент
                         </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                         <span class="text">
                             <i class="icon icon-comment"></i>
                             Онлайн казино с минимальной ставкой 1 копейка или цент
                         </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class='search-fade'></div>
<div class="wrapper">
    <div class="container">
        <header id="header">
            <div class="row">
                <div class="logo-link">
                    <a href="#"><img src="images/logo.png" alt=""/></a>
                </div>
                <form class="search-form">
                    <input type="text" placeholder="Поиск на сайте" class="search-input main-search"/>
                    <input type="submit" hidden/>
                    <a href="#" class="mobile-menu js-mobile-menu"><span class="line-1"></span></a>
                </form>
                <div class="enter-block">
                    <a href="#" class="enter">Вход</a>
                    <a href="#" class="social-link"><i class="icon icon-facebook"></i></a>
                    <a href="#" class="social-link"><i class="icon icon-vk"></i></a>
                    <a href="#" class="social-link"><i class="icon icon-twitter"></i></a>
                </div>

            </div>
        </header>
        <nav class="navigation js-nav">
            <div class="main-menu">
                <a href="#" class="contact-link">Контакты</a>
                <a href="#" class="active">Главная</a>
                <a href="#">Онлайн казино <span class="point">Честный рейтинг</span></a>
                <a href="#">Игровые автоматы</a>
                <a href="#">Бонусы казино</a>
                <a href="#">Новости</a>
                <a href="#">Статьи</a>
            </div>
            <div class="secondary-menu">
                <a href="#">Рейтинг казино</a>
                <a href="#">Мобильное казино</a>
                <a href="#">Бонусы казино</a>
                <a href="#">Бездепозитные бонусы</a>
                <a href="#">Рулетка</a>
                <a href="#">Покер</a>
                <a href="#">Акции и турниры</a>
            </div>
        </nav>
        <main class="main-part">
            <div class="breadcrumbs">
                <a href="#">Главная</a>
                <span class="divider">&raquo;</span>
                <a href="#">2 ссылка</a>
                <span class="divider">&raquo;</span>
                <span> Внутренняяя страница</span>
            </div>
            <div class="row">

                <div class="wide-left-col left-block">
                    <h1>Ваш отзыв о казино <a href="#">HappySlot</a></h1>

                    <form id="testimonial-form" class="testimonial-form">
                        <div class="form-line">
                            <label>Отзыв о казино <span>Минимум 10 слов</span></label>

                            <div class="form-block">
                                <textarea v-model="content" id="content" class="inner-input" name="content"></textarea>
                            </div>
                        </div>
                        <div class="form-line">
                            <label>Достоинства казино: <span>Максимум 20 слов</span></label>

                            <div class="form-block">
                                <textarea v-model="dost" id="dost" class="small-size inner-input" name="plus"></textarea>
                            </div>
                        </div>
                        <div class="form-line">
                            <label>Недостатки казино: <span>Максимум 20 слов</span></label>

                            <div class="form-block">
                                <textarea v-model="ned" id="ned" class="small-size inner-input" name="minus"></textarea>
                            </div>
                        </div>
                        <div class="form-line">
                            <label>Подытожьте ваш отзыв:
                                <span>Итог будет использоваться в качестве заголовка</span></label>

                            <div class="form-block">
                                <input v-model="title" id="title" type="text" class="inner-input" name="title">
                            </div>
                        </div>
                        <div class="form-line">
                            <label>Ваша оценка казино</label>

                            <div class="form-block">
                                <span class="rate">
                                    <div class='dynamic-rating' data-dynamic-rating='4'></div>
                                    <span class='rating-word'></span>
                                </span>

                                <input class="vh" name="rat" type="checkbox" id="action" value="0">
                            </div>
                        </div>
                        <div class="form-summary">
                            <p>После публикации все отзывы проверяются администратором. Отзывы без достоверной
                                информации, без конкретики или содержащие ненормативную лексику не принимаются.</p>

                            <p>Все поля обязательны для заполнения.</p>

                            <input type="submit" value="отправить отзыв" class="btn-yellow"/>
                        </div>


                    </form>
                </div>
                <div class="narrow-col right-block">
                    <div class="aside-block with-top-space">
                        <p class="title">О чем писать</p>

                        <p>Подробно расскажите о своих впечатлениях от работы онлайн казино: начиная с этапа регистрации
                            (внесения депозита) и заканчивая работой службы поддержки. Опишите ваши впечатления от
                            казино.
                            Почему вы выбрали именно его?
                            Что вам понравилось в нем?
                            Что не понравилось? Обратите внимание на то, что малоинформативные отзывы подлежат
                            удалению.</p>
                    </div>
                    <div class="aside-block">
                        <p class="title">как писать?</p>

                        <p>Подробно расскажите о своих впечатлениях от работы онлайн казино: начиная с этапа регистрации
                            (внесения депозита) и заканчивая работой службы поддержки. Опишите ваши впечатления от
                            казино.
                            Почему вы выбрали именно его?
                            Что вам понравилось в нем?
                            Что не понравилось? Обратите внимание на то, что малоинформативные отзывы подлежат
                            удалению.</p>
                    </div>
                </div>

            </div>

            <div class="preview row">
                <div class="wide-left-col left-block">
                    <p class="preview-title">
                        Предварительный просмотр
                    </p>

                    <div class="testimonial-block">
                        <div class="logo-block">
                            <img src="trash/ava.jpg" alt=""/>
                        </div>
                        <div class="testimonial-body">
                            <span class="nickname">popan4ik</span>
                            <span class="testimonial-title">{{ title }}</span>

                            <span class="rate rate-active" data-current-rating='0'></span>
                            <span class="rating-word"></span>

                            <div class=testimonial-text>
                                <p>{{ content }}</p>

                                <div class="advantages-line">
                                    <div class="pros">
                                        <i class="icon icon-pros"></i>
                                        <span class="pros-text">{{ dost }}</span>
                                    </div>
                                    <div class="cons">
                                        <i class="icon icon-cons"></i>
                                        <span class="cons-text">{{ ned }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-menu">
                    <span class="title js-mobile-footer">Лучшие казино </span>
                    <a href="#">бонусы казино</a>
                    <a href="#">букмекеры</a>
                    <a href="#">новости казино</a>
                </div>
                <div class="footer-menu">
                    <span class="title js-mobile-footer">акции и турниры</span>
                    <a href="#">бонусы казино</a>
                    <a href="#">букмекеры</a>
                    <a href="#">новости казино</a>
                </div>
                <div class="footer-menu">
                    <span class="title js-mobile-footer">акции и турниры</span>
                    <a href="#">бонусы казино</a>
                    <a href="#">букмекеры</a>
                    <a href="#">новости казино</a>
                </div>
                <div class="footer-menu">
                    <span class="title js-mobile-footer">акции и турниры</span>
                    <a href="#">бонусы казино</a>
                    <a href="#">букмекеры</a>
                    <a href="#">новости казино</a>
                </div>
                <div class="footer-menu">
                    <span class="title js-mobile-footer">акции и турниры</span>
                    <a href="#">бонусы казино</a>
                    <a href="#">букмекеры</a>
                    <a href="#">новости казино</a>
                </div>
            </div>
            <div class="number-block">
                <div class="number-1">
                    <span class="number">32</span>
                    <span class="text">казино</span>
                </div>
                <div class="number-2">
                    <span class="number">18</span>
                    <span class="text">отзывов</span>
                </div>
                <div class="number-3">
                    <span class="number">26</span>
                    <span class="text">слотов</span>
                </div>
                <div class="number-4">
                    <span class="number">128</span>
                    <span class="text">статей</span>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2015-2016,CasinoBra.com</p>
            </div>
        </div>
    </footer>
</div>
<script src="scripts/jquery-1.11.2.min.js"></script>
<script src="scripts/vue.js"></script>
<script src="scripts/jquery.form.js"></script>
<script src="scripts/jquery.validate.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/rating.js"></script>
<script src="scripts/review.js"></script>
</body>
</html>
