.icon {
  background-image: url(../images/icon.png);
  display: inline-block;
  vertical-align: middle;
}
.icon-arrows {
  width: 7px;
  height: 9px;
  background-position: -78px -50px;
}
.icon-arrow-up {
  width: 7px;
  height: 4px;
  background-position: -62px -50px;
}
.icon-arrow-down {
  width: 7px;
  height: 4px;
  background-position: -62px -58px;
}
.icon-check {
  width: 14px;
  height: 13px;
  background-position: -35px -50px;
}
.icon-nocheck {
  width: 14px;
  height: 13px;
  background-position: -6px -50px;
}
.icon-facebook-big {
  width: 100px;
  height: 100px;
  background-position: -153px -6px;
}
.icon-facebook-big:hover {
  background-position: -263px -6px;
}
.icon-vk-big {
  width: 100px;
  height: 100px;
  background-position: -153px -118px;
}
.icon-vk-big:hover {
  background-position: -263px -118px;
}
.icon-twitter-big {
  width: 100px;
  height: 100px;
  background-position: -153px -231px;
}
.icon-twitter-big:hover {
  background-position: -263px -231px;
}
.icon-pros {
  width: 13px;
  height: 15px;
  background-position: -5px -70px;
}
.icon-cons {
  width: 13px;
  height: 15px;
  background-position: -5px -86px;
}
.icon-close {
  width: 26px;
  height: 26px;
  background-position: -29px -90px;
}
.icon-search {
  width: 20px;
  height: 20px;
  background-position: -69px -91px;
}
.icon-comment {
  width: 20px;
  height: 20px;
  background-position: -5px -130px;
}
