.table {
  width: 100%;
  margin-bottom: 25px;
}
.table td,
.table th {
  border-bottom: 1px solid #e8e8e8;
  padding: 14px 10px 13px;
  vertical-align: middle;
}
.table thead th,
.table thead td {
  background: #ececec;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #919191;
  padding: 10px 10px;
  text-align: cetner;
}
.table thead a,
.table thead span {
  color: #919191;
}
.table thead .icon {
  margin-left: 5px;
}
.table tbody {
  color: #535353;
  font-size: 14px;
}
.table tbody tr:nth-child(even) td {
  background: #f8f8f8;
}
.table tbody tr:hover td {
  background: #e7e7e7;
}
.table .casino-link {
  color: #004d99;
}
.table .casino-link img {
  float: left;
  width: 50px;
  border-radius: 3px;
  display: block;
}
.table .casino-link span {
  margin-left: 65px;
  display: block;
  padding-top: 8px;
  font-size: 15px;
  line-height: 15px;
}
.table .number {
  color: #fff;
  height: 20px;
  padding: 0 2px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  background: #cacaca;
  display: block;
}
.view-link {
  color: #7f8c9c;
  font-size: 13px;
}
